<div class="form-phone-select">
	<figure class="form-phone-now"><img src="{{ imageMulti("flags/colombia.png") }}" alt="Bandera Colombia"></figure>
	<ul class="form-phone-options">
		<li class="form-phone-option" data-value="BO" name="BO">
			<img src="{{ imageMulti("flags/bolivia.png") }}" alt="Bandera Bolivia">
			<span>BO</span>
		</li>
		<li class="form-phone-option" data-value="CL" name="CL">
			<img src="{{ imageMulti("flags/chile.png") }}" alt="Bandera Chile">
			<span>CL</span>
		</li>
		<li class="form-phone-option" data-value="CO" name="CO">
			<img src="{{ imageMulti("flags/colombia.png") }}" alt="Bandera Colombia">
			<span>CO</span>
		</li>
		<li class="form-phone-option" data-value="CR" name="CR">
			<img src="{{ imageMulti("flags/costa-rica.png") }}" alt="Bandera Costa Rica">
			<span>CR</span>
		</li>
		<li class="form-phone-option" data-value="EC" name="EC">
			<img src="{{ imageMulti("flags/ecuador.png") }}" alt="Bandera Ecuador">
			<span>EC</span>
		</li>
		<li class="form-phone-option" data-value="SV" name="SV">
			<img src="{{ imageMulti("flags/el-salvador.png") }}" alt="Bandera El Salvador">
			<span>SV</span>
		</li>
		<li class="form-phone-option" data-value="GT" name="GT">
			<img src="{{ imageMulti("flags/guatemala.png") }}" alt="Bandera Guatemala">
			<span>GT</span>
		</li>
		<li class="form-phone-option" data-value="MX" name="MX">
			<img src="{{ imageMulti("flags/mexico.png") }}" alt="Bandera México">
			<span>MX</span>
		</li>
		<li class="form-phone-option" data-value="PA" name="PA">
			<img src="{{ imageMulti("flags/panama.png") }}" alt="Bandera Panáma">
			<span>PA</span>
		</li>
		<li class="form-phone-option" data-value="PE" name="PE">
			<img src="{{ imageMulti("flags/peru.png") }}" alt="Bandera Perú">
			<span>PE</span>
		</li>
		<li class="form-phone-option" data-value="DO" name="DO">
			<img src="{{ imageMulti("flags/republica-dominicana.png") }}" alt="Bandera República Dominicana">
			<span>DO</span>
		</li>
	</ul>
</div>
